In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
total_players =purchase_data["SN"].nunique()
# purchase_data["SN"].nunique()
print(f"Player count is {total_players}")
print(total_players)

Player count is 576
576

In [3]:
unique_items = len(purchase_data["Item ID"].unique())
avg_price = purchase_data["Price"].mean()
num_purchases = purchase_data["SN"].count()
tot_rev = purchase_data["Price"].sum()
print(unique_items)
print(avg_price)
print(num_purchases)
print(tot_rev)

179
3.050987179487176
780
2379.77

In [4]:
# Place all calculated data in a summary DF
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items], 
                           "Average Price": avg_price, 
                           "Number of Purchases": num_purchases,"Total Revenue": tot_rev})
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [5]:
# calculate percentage and count of gender
gender = purchase_data.groupby("Gender")["SN"].nunique()
gender = gender.to_frame()
gender_df = gender.rename({"SN":"Total Count"})
percent_gender = gender["SN"]/total_players
gender["Percentage of Players"] = percent_gender

female_total = gender.iloc[0,0]
male_total = gender.iloc[1,0]
other_total = gender.iloc[2,0]

# print(gender.iloc[1,1])
# print(female)
# print(male)
gender

                        SN  Percentage of Players
Gender
Female                  81               0.140625
Male                   484               0.840278
Other / Non-Disclosed   11               0.019097

In [6]:
print(female_total)

81

In [7]:
purchase_count_df = purchase_data.groupby("Gender")["SN"].count()
avg_price_df = purchase_data.groupby("Gender")["Price"].mean()
total_value_df = purchase_data.groupby("Gender")["Price"].sum()

# purchase_count_df
# avg_price_df
merge1_df = pd.merge(purchase_count_df,avg_price_df, on="Gender")
merge2_df = pd.merge(merge1_df,total_value_df, on="Gender")
merge3_df = pd.merge(merge2_df, gender, on="Gender")
merge3_df

                       SN_x   Price_x  Price_y  SN_y  Percentage of Players
Gender
Female                  113  3.203009   361.94    81               0.140625
Male                    652  3.017853  1967.64   484               0.840278
Other / Non-Disclosed    15  3.346000    50.19    11               0.019097

In [19]:
avg_purchase = (merge3_df["Price_y"] / merge3_df["SN_y"])
merge3_df["Avg_pur_per_person"] = avg_purchase
merge3_df

,SN_x,Price_x,Price_y,SN_y,Percentage of Players,Avg_pur_per_person
Gender,,,,,,
Female,113,3.203009,361.94,81,0.140625,4.468395
Male,652,3.017853,1967.64,484,0.840278,4.065372
Other / Non-Disclosed,15,3.346000,50.19,11,0.019097,4.562727

In [28]:
final_merge = merge3_df.rename(columns={"SN_x": "Purchase Count","Price_x": "Average Purchase Price","Price_y": "Total Purchase Price","SN_y": "Total Gender Count","Avg_pur_per_person": "Avg Total Purchase per Person"})
final_merge = final_merge.drop(final_merge.columns[[3,4]], axis=)
format_dict = {"Average Purchase Price": "${0:,.2f}", "Total Purchase Price": "${0:,.2f}","Avg Total Purchase per Person": "${0:,.2f}","Percentage of Players": "{:.2%}"}
final_merge.style.format(format_dict)

In [10]:
# calculate percentage and count of gender
# print(purchase_data["Gender"].value_counts())
# purchase_data["Gender"].value_counts()
unique_players = purchase_data["Gender"].value_counts()
print(unique_players)

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [11]:
total_value_df = purchase_data.groupby("Gender")["Price"].sum()
total_value_df

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [12]:
total_value_df = purchase_data.groupby("Gender")["Price"].sum()