In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
total_players =purchase_data["SN"].nunique()
# purchase_data["SN"].nunique()
print(f"Player count is {total_players}")
print(total_players)

Player count is 576
576

In [3]:
unique_items = len(purchase_data["Item ID"].unique())
avg_price = purchase_data["Price"].mean()
num_purchases = purchase_data["SN"].count()
tot_rev = purchase_data["Price"].sum()
print(unique_items)
print(avg_price)
print(num_purchases)
print(tot_rev)

179
3.050987179487176
780
2379.77

In [4]:
# Place all calculated data in a summary DF
summary_df = pd.DataFrame({"Number of Unique Items": [unique_items], 
                           "Average Price": avg_price, 
                           "Number of Purchases": num_purchases,"Total Revenue": tot_rev})
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [5]:
# calculate percentage and count of gender
gender = purchase_data.groupby("Gender")["SN"].nunique()
gender = gender.to_frame()

percent_gender = gender["SN"]/total_players
gender["Percentage of Players"] = percent_gender
gender = gender.rename(columns={"SN":"Total Count"})

female_total = gender.iloc[0,0]
male_total = gender.iloc[1,0]
other_total = gender.iloc[2,0]

# print(gender.iloc[1,1])
# print(female)
# print(male)
gender

                       Total Count  Percentage of Players
Gender
Female                          81               0.140625
Male                           484               0.840278
Other / Non-Disclosed           11               0.019097

In [6]:
print(female_total, total_players)

81 576

In [7]:
purchase_count_df = purchase_data.groupby("Gender")["SN"].count()
avg_price_df = purchase_data.groupby("Gender")["Price"].mean()
total_value_df = purchase_data.groupby("Gender")["Price"].sum()

# purchase_count_df
# avg_price_df
merge1_df = pd.merge(purchase_count_df,avg_price_df, on="Gender")
merge2_df = pd.merge(merge1_df,total_value_df, on="Gender")
merge3_df = pd.merge(merge2_df, gender, on="Gender")
merge3_df

,SN,Price_x,Price_y,Total Count,Percentage of Players
Gender,,,,,
Female,113,3.203009,361.94,81,0.140625
Male,652,3.017853,1967.64,484,0.840278
Other / Non-Disclosed,15,3.346000,50.19,11,0.019097

In [10]:
# Calculate avg purchase per person
avg_purchase = (merge3_df["Price_y"] / merge3_df["Total Count"])
merge3_df["Avg_pur_per_person"] = avg_purchase
merge3_df

,SN,Price_x,Price_y,Total Count,Percentage of Players,Avg_pur_per_person
Gender,,,,,,
Female,113,3.203009,361.94,81,0.140625,4.468395
Male,652,3.017853,1967.64,484,0.840278,4.065372
Other / Non-Disclosed,15,3.346000,50.19,11,0.019097,4.562727

In [11]:
final_merge = merge3_df.rename(columns={"SN_x": "Purchase Count","Price_x": "Average Purchase Price","Price_y": "Total Purchase Price","SN_y": "Total Gender Count","Avg_pur_per_person": "Avg Total Purchase per Person"})
final_merge = final_merge.drop(final_merge.columns[[3,4]], axis=1)
format_dict = {"Average Purchase Price": "${0:,.2f}", "Total Purchase Price": "${0:,.2f}","Avg Total Purchase per Person": "${0:,.2f}","Percentage of Players": "{:.2%}"}
final_merge.style.format(format_dict)

In [12]:
# Create the bins in which Data will be held
# Bins are 0, 10, 15, 20, 25, 30, 35, 40, 100   
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create the names for the five bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [13]:
purchase_data["Age Bin"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)
purchase_data
# df["Test Score Summary"] = pd.cut(df["Test Score"], bins, labels=group_names, include_lowest=True)
# df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Bin
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [15]:
age_df = purchase_data.groupby("Age Bin")
bin_df = age_df.nunique()
perc_player = (bin_df["SN"] / 576)
bin_df["Percentage of Players"] = perc_player
format_dict = {"Percentage of Players": "{:.2%}"}
bin_df.style.format(format_dict)
bin_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Bin,Percentage of Players
Age Bin,,,,,,,,,
<10,23,17,3,2,21,21,21,1,0.029514
10-14,28,22,5,2,24,24,24,1,0.038194
15-19,136,107,5,3,96,96,83,1,0.185764
20-24,365,258,5,3,163,163,135,1,0.447917
25-29,101,77,5,3,78,78,73,1,0.133681
30-34,73,52,5,2,60,60,56,1,0.090278
35-39,41,31,5,3,37,37,34,1,0.053819
40+,13,12,6,2,13,13,13,1,0.020833

In [19]:
final_bin = bin_df.drop(bin_df.columns[[0,2,3,4,5,6,7]], axis=1)

final_bin = final_bin.rename(columns={"SN": "Total Count"})
format_dict = {'Percentage of Players': '{:.2%}'}
final_bin.style.format(format_dict)
final_bin

         Total Count  Percentage of Players
Age Bin
<10               17               0.029514
10-14             22               0.038194
15-19            107               0.185764
20-24            258               0.447917
25-29             77               0.133681
30-34             52               0.090278
35-39             31               0.053819
40+               12               0.020833

In [29]:
purchase_count_df = purchase_data.groupby("Age Bin")["Price"].count()
avg_price_df = purchase_data.groupby("Age Bin")["Price"].mean()
total_value_df = purchase_data.groupby("Age Bin")["Price"].sum()

# purchase_count_df
# avg_price_df
# total_value_df
merge4_df = pd.merge(purchase_count_df,avg_price_df, on="Age Bin")
# merge2_df = pd.merge(merge1_df,total_value_df, on="Gender")
# merge3_df = pd.merge(merge2_df, gender, on="Gender")
merge4_df

         Price_x   Price_y
Age Bin
<10           23  3.353478
10-14         28  2.956429
15-19        136  3.035956
20-24        365  3.052219
25-29        101  2.900990
30-34         73  2.931507
35-39         41  3.601707
40+           13  2.941538